@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?odlmkt');
    src:    url('fonts/icomoon.eot?odlmkt#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?odlmkt') format('truetype'),
        url('fonts/icomoon.woff?odlmkt') format('woff'),
        url('fonts/icomoon.svg?odlmkt#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
    content: "\e900";
}
.icon-profile:before {
    content: "\e901";
}
.icon-file-empty:before {
    content: "\e902";
}
.icon-files-empty:before {
    content: "\e903";
}
.icon-file-text2:before {
    content: "\e904";
}
.icon-folder-download:before {
    content: "\e905";
}
.icon-envelop:before {
    content: "\e906";
}
.icon-floppy-disk:before {
    content: "\e907";
}
.icon-user:before {
    content: "\e908";
}
.icon-users:before {
    content: "\e909";
}
.icon-user-plus:before {
    content: "\e90a";
}
.icon-user-minus:before {
    content: "\e90b";
}
.icon-user-check:before {
    content: "\e90c";
}
.icon-user-tie:before {
    content: "\e90d";
}
.icon-list2:before {
    content: "\e90e";
}
.icon-menu:before {
    content: "\e90f";
}
.icon-download2:before {
    content: "\e910";
}
.icon-download3:before {
    content: "\e911";
}
.icon-attachment:before {
    content: "\e912";
}

